*{
    margin:2%;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .card-container{
      width: 500px;
      padding:10px;
      box-shadow: 5px 5px 5px 5px;
      border-radius: 15px;
      background-image: linear-gradient(125deg,gainsboro,ghostwhite);
      
    }
    
    .form-container{
      height: fit-content; 
      padding: 0px 20px;
       
     }
    
     .heading{
      text-align: center;
      text-decoration: underline;
      font-size: larger;
      font-family:Georgia, 'Times New Roman', Times, serif
     }
    
     .textbox{
      border: none;
      font-size: large;
      box-sizing: border-box;
      outline: none;
      border: none;
      border-bottom: 2px solid darkgray;
      width:350px;
      
     }
    
     .text{
      width:350px;
      height: 80px;
      resize: none;
      padding:12px 20px;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid darkgray;
      outline: none;
     }
    
     .button{
      background-color:darkgray;
      border: none;
      border-radius: 25px;
      font-size: medium;
      padding: 10px;
      padding-right: 150px;
      padding-left: 150px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }
     
     #city{
      width:350px;
      border: none;
      padding:16px 25px;
      border-radius: 5px;
      border-bottom: 2px solid darkgray;
     }
     
     