.body{
  background:#141414;
  color:white;
  margin:0px;
}

.movie-app >.row{
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container{
 
  transition: transform 0.2s;
}

.card{
  width:8rem;
}
.image-container:hover{
  cursor:pointer;
  transform: scale(1.1);
}

.image-container:hover.overlay{
  opacity:1;

}

.overlay{
 
  background: rgba(0,0,0,0.8);
  width:100%;
  transition: 0.5s ease-in;
  
}